@model IEnumerable<PracticeEntityProject.Models.Student>


<table class="table" id="StudentDetailsTblId">
    <tr>
        <th>
            @Html.Label("Student No")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th></th>
    </tr>

    @{
        int count = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @count
                @{ count++;}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { StudentId = item.StudentId }) |
                @Html.ActionLink("Details", "Details", new { StudentId = item.StudentId }) |
                @Html.ActionLink("Delete", "Delete", new { StudentId = item.StudentId })*@
                <input type="submit" name="Edit" value="Edit" class="btn btn-success" onclick="location.href='@Url.Action("Edit", "Student",new { StudentId = item.StudentId })'" />
                <input type="submit" name="Details" value="Details" class="btn btn-info" onclick="location.href='@Url.Action("Details", "Student",new { StudentId = item.StudentId })'" />
                <input type="submit" name="Delete" value="Delete" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Student",new { StudentId = item.StudentId })'" />
            </td>
        </tr>
    }

</table>
